<form action="/students" method="post">
  <label for="students-houses">Select A House:</label>

  <select name="house_id" id="houses">
    <option selected="selected" selection disabled>Select A House</option>
    <%  @houses.each do |house| %>
    <option value="<%= house.id %>"><%= house.house_name %></option>
  <% end  %>
  </select>

</form>
